<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} [%thread] [%level] [%X{user}] %logger{5} - %message%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.wicket" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.jooq" level="DEBUG"/>
    <logger name="org.apache.http" level="DEBUG"/>
    <logger name="org.apache.http.wire" level="ERROR"/>
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>